@media (min-width: 768px) {

    .education-column,
    .experience-column {
        flex-basis: calc(50% - 20px);
        /* Set the initial width to 50% minus the gap */
    }
}

body {
    margin: 0;
    padding: 0;
}

nav {
    background: rgb(85, 105, 220);
    height: 10vh;
    display: flex;
    align-items: top;
    justify-content: flex-start;
    padding-left: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    height: 67vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#about {
    background: white;
}

#education {
    background: white;
}

#skills {
    background: white;
}

section#portfolio {
    display: flex;
    height: 70vh;
    background-color: rgb(85, 105, 220);
}

.portfolio-image {
    width: 50%;
    background-image: url('./images/images-2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

    height: 85%;
}

.image-overlay {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(85, 105, 220);
}

.portfolio-content {
    width: 33.33%;
    background-color: rgb(85, 105, 220);
    padding: 20px;
    color: white;
}

.portfolio-content p {
    margin-bottom: 10px;
}

.portfolio-content a {
    color: rgb(85, 105, 220);
    text-decoration: none;
}

.portfolio-content .btn {
    margin-top: 10px;
    padding: 10px 20px;
    background: white;
    color: rgb(85, 105, 220);
    border: none;
    cursor: pointer;
}


.bold {
    font-weight: bold;
    font-size: 1.5rem;
}

.about-container {
    background-color: rgb(214, 196, 228);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    /* Add top padding */
}

.about-content {
    width: 66.66%;
    text-align: left;
    padding-left: 50px;
    /* Increase the left padding value as needed */
}

.section-title {
    font-size: 28px;
    font-family: "Papyrus", sans-serif;
    font-weight: bold;
    color: rgb(85, 105, 220);
    margin-bottom: 10px;
}

.about-description {
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

.section-sub-title {
    font-family: "Copperplate", sans-serif;
    color: rgb(161, 126, 186);
    margin-bottom: 20px;
    /* Add bottom margin after "My Background" */
}

#education-experience {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.education-column,
.experience-column {
    background-color: white;
    padding: 20px;
    text-align: left;
    max-width: 400px;
    flex: 1 1 50%;
    /* Use flexbox to allocate 50% width to each column */
}





.school-name,
.job-date {
    font-weight: bold;
}

.certificate-button {
    margin-top: 10px;
    padding: 10px 20px;
    background: white;
    color: rgb(85, 105, 220);
    border: 1px solid rgb(85, 105, 220);
    cursor: pointer;
}

.education-details {
    margin-bottom: 80px;
}

.experience-details {
    margin-bottom: 50px;
}

#skills {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    /* Align content to the left */
    align-items: flex-start;
    /* Align items to the top */
    padding-left: 50px;
    margin-bottom: 50px;
}


.skills-container {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;


}

.skills-big-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 20px;
    flex-direction: column;
    padding-left: 220px;
    /* Add top padding */
}

.skill {
    display: flex;
    align-items: center;
    gap: 20px;
}

.skill-title {
    margin-bottom: 0;
}






#footer {
    
    background-color: rgb(85, 105, 220);
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 20vh;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-text {
    font-family: cursive;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding-left: 200px;
}

.footer-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 150px;
}

.footer-right a {
    margin-left: 50px;
}

.footer-right img {
    height: 24px;
    width: 24px;
}
.logos-intro{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 100px;
}